<!DOCTYPE html>
<html lang = "en" dir="ltr">
<head>
<meta charset = "UTF-8">
<title>Breaking News</title>
<!-- <link rel="stylesheet" href="CSS tutorial 1.css">
 --></head>

<body>
	{% extends "template.html" %}
	{% block content %}

	<h1> Breaking News </h1>

<h2> </h2>
					
<ul>
	{% for i in news_list %}
	<li> {{ i }} </li>
	{% endfor %}
</ul>

	{% endblock %}


<footer>
	<table>
  <tr style="color: grey">
    <td></td>
    <td></td> 
    <td></td>
  </tr>
</table>
</footer>
</body>

</html>